.navbar__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
  color: white;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}

.navbar__item:hover {
  opacity: 0.7;
  color: gold;
}

.navbar__item:visited {
  opacity: 0.7;
}

.navbar__item_uppercase {
  text-transform: uppercase;
}