.navbar {
  padding: 20px 0;
  box-sizing: border-box;
  width: 100%;
  background: #808080;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-family: "Ubuntu Condensed", Arial, sans-serif;
}

.navbar__item {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar__list {
  display: flex;
  flex-wrap: wrap;
}

.navbar__button {
  width: 180px;
  padding: 5px;
  margin: 3px;
  font-size: 17px;
  background: #292929;
  font-family: "Ubuntu Condensed", Arial, sans-serif;
  color: white;
  cursor: pointer;
}

.navbar__button:hover {
  opacity: 0.7;
}





