.home-img {
  box-sizing: border-box;
  width: 100%;
  background: center/cover no-repeat url('../../images/main-bg.jpg');
  height: 580px;
  color: white;
  font-size: 28px;
  line-height: 1.5;
  opacity: 0.9;
}

.home-img__background {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.home-img__content {
  box-sizing: border-box;
  max-width: 1160px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 60px 20px;
  display: flex;
}

.home-img__content p {
  margin: 0;
}

.home-img__content-left {
  max-width: 460px;
  padding-right: 100px;
}

.home-img__button {
  margin-top: 25px;
  padding: 12px 40px;
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 20px;
  font-weight: bold;
  background: #ffcc00;
}

.home-img__button:hover {
  background: #ffe064;
}

.home__title {
  padding: 60px 20px 30px 20px;
} 

.home__wrapper-steps-img {
  display: flex;
  justify-content: center;
}

.home__steps-img {
  margin: 0 auto;
  height: auto;
  width: 100%;
  max-width: 800px;
}

.home__section {
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
  padding: 0 20px;
}

.home__section p {
  text-align: justify;
}

.home__ul {
  list-style-type: none;
  padding: 0;
  font-family: "Ubuntu Condensed", Arial, sans-serif;
  font-size: 28px;
  line-height: 1.5;
}
